# Node modules
node_modules/

# Firebase
.firebase/
.firebaserc

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Cache
.cache/
